* {
  margin: 0;
  padding: 0;
}
body {
  background: green;
}

.card {
  background: white;
  margin: 40px auto;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  position: relative;
}

.number {
  text-align: center;
  justify-content: center;
  font-size: 80px;
  padding-top: 160px;
}

.card::before {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 80px;
}

.card::after {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 80px;
}

.heart,
.diamond {
  color: red;
}

.spade::before,
.spade::after {
  content: "\2660";
}

.club::before,
.club::after {
  content: "\2663";
}

.heart::before,
.heart::after {
  content: "\2665";
}

.diamond::before,
.diamond::after {
  content: "\2666";
}
